.about {
    margin-bottom: 60px;
}

.about__introduction {
    margin-bottom: 36px;
    text-align: center;
}

.introduction__text {
    display: none;
}

.about__imgWrap {
    max-width: 524px;
    width: 290px;
    margin: 0 auto;
    margin-bottom: 51px;
}
.about__title {
    display: none;
}

.about__textWrap {
    text-align: center;
}

.about__text {
    text-align: left;
    margin-bottom: 34px;
}

.button_about {
    /* max-width: 276px; */
    width: 90%;
}

.introduction__title {
    margin-bottom: 42px;
}

.about__title {
    margin-bottom: 42px;
}

.introduction__text {
    text-align: left; 
}


@media (min-width: 450px) {
    .button_about {
        width: 214px;
    }
}


@media (min-width: 768px) {
    .introduction__text {
        display: block;
    }  
    .about__title {
        display: block;
    }

}


@media (min-width: 900px) {
    .about__content {
        display: flex;
        justify-content: space-between;
    }
    .about__introduction {
        display: flex;
        justify-content: space-between;
        margin-bottom: 67px;
    }
    .introduction__title {
        width: 50%;
        text-align: left;
        margin-bottom: 0;
    }
    .introduction__text {
        /* width: 50%; */
        width: 100%;
    }
    .about__imgWrap {
        width: 50%;
        margin: auto;
        margin-right: 30px;
        float: left;
    }
    .about__textWrap {
        width: 50%;
        text-align: left;
    }
    .about__text {
        margin-bottom: 28px;
    }
}

@media (min-width: 1200px) {
    /* .about__content {
        display: flex;
        justify-content: space-between;
    } */
    /* .about__imgWrap {
        width: 50%;
        float: none;
    } */
    /* .about__textWrap {
        width: 50%;
    } */

    .introduction__text {
        width: 50%;
    }

    .about__imgWrap {
        margin: 0;
        margin-right: 20px;
    }

    .about__textWrap {
        margin-top: 48px;
    }
    .about {
        margin-bottom: 110px;
    }
}